#img{
    width: 200px;
    height: 300px;
    
}
#name{
    color: orange;
    background-color: grey;
    padding: 10px;
    margin: 0px;
    
    
}
#ol{
    color: brown;
    font-weight: 100px;
}
#ul{
    color: skyblue;
    font-weight: 100px;
}

/* Your CSS Code here. */